.logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar {
  height: 5vh;
  width: auto;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin-top: 10px;
}

.navbar__item {
  padding: 0px 30px;
  -webkit-animation: flash 25s linear infinite;
          animation: flash 25s linear infinite;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
}

.navbar__link:hover {
  color: #0d8ef8;
}

.navbar__link__active {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #0d8ef8;
  padding: 5px 15px;
}

.rotate:hover {
  -webkit-animation: rotate-btn .5s linear 5;
          animation: rotate-btn .5s linear 5;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media all and (max-width: 1300px) {
  .navbar {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
}

@media only screen and (max-device-width: 767px) {
  .navbar {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
  .navbar__item {
    padding: 0px 10px;
  }
  .navbar__link__active {
    padding: 1px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-container {
    -webkit-transform: translateX(-370%);
            transform: translateX(-370%);
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    width: 100%;
    display: none;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar li {
    text-align: center;
    padding-bottom: 10px;
  }
  .navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__link__active {
    border: none;
  }
}

@media only screen and (max-width: 550px) {
  .logo-container {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}

@media only screen and (max-width: 450px) {
  .logo-container {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
}

@media only screen and (max-width: 380px) {
  .logo-container {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@media all and (max-width: 300px) {
  .logo-container {
    -webkit-transform: translateX(-175%);
            transform: translateX(-175%);
  }
}

@-webkit-keyframes rotate-btn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-btn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes flash {
  0% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    color: #0d8ef8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flash {
  0% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    color: #0d8ef8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #06243c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

header img {
  height: 30px;
  width: auto;
  margin: 5px 20px;
}

.hero {
  height: 95vh;
  width: 100%;
  background: url("https://img4.goodfon.com/wallpaper/nbig/2/32/abstract-background-with-modern-design-blue.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: drop-Y 0.5s ease;
          animation: drop-Y 0.5s ease;
}

.hero__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__container__picture {
  -webkit-animation: drop-X .5s ease;
          animation: drop-X .5s ease;
}

.hero__picture {
  height: 95%;
  width: auto;
  margin-top: 50px;
  -webkit-animation: sliding 30s linear infinite;
          animation: sliding 30s linear infinite;
}

.hero__text-box {
  margin: 350px 0px 0px 300px;
  padding-left: 20px;
  height: 200px;
  width: 400px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(255, 255, 255, 0.5) inset, 0 -2px 1px rgba(7, 4, 22, 0.3) inset, 0 -2px 6px rgba(255, 255, 255, 0.25) inset;
          box-shadow: 0 2px 1px rgba(255, 255, 255, 0.5) inset, 0 -2px 1px rgba(7, 4, 22, 0.3) inset, 0 -2px 6px rgba(255, 255, 255, 0.25) inset;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero__text-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero__title {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.hero__text {
  color: #fff;
  margin-bottom: 25px;
  -webkit-animation: typing 3s steps(38);
          animation: typing 3s steps(38);
  overflow: hidden;
  white-space: nowrap;
  width: 38ch;
}

.hero__btn {
  display: inline-block;
  height: 35px;
  width: auto;
  margin: 0px 25px;
  -webkit-animation: flash 25s linear infinite;
          animation: flash 25s linear infinite;
}

@media only screen and (max-width: 1713px) {
  .hero__container__picture {
    width: 50vw;
  }
  .hero__picture {
    height: 60%;
    margin-top: 200px;
    margin-left: -100px;
  }
  .hero__text-box {
    margin: 350px 0px 0px 150px;
  }
}

@media only screen and (max-width: 1175px) {
  .hero__container__picture {
    width: 50vw;
  }
  .hero__picture {
    height: 49%;
    margin-top: 200px;
    margin-left: -50px;
  }
  .hero__text-box {
    margin: 350px 0px 0px 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__picture {
    height: 27%;
    margin-top: 10px;
    margin-left: 300px;
  }
  .hero__text-box {
    margin: 50px auto;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__picture {
    height: 27%;
    margin-top: 10px;
    margin-left: 300px;
  }
  .hero__text-box {
    margin: 50px auto;
  }
}

@media only screen and (max-width: 710px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__picture {
    height: 27%;
    margin-top: 10px;
    margin-left: 75px;
  }
  .hero__text-box {
    margin: 50px auto;
  }
}

@media only screen and (max-width: 450px) {
  .hero__picture {
    height: 23%;
    margin-top: 10px;
    margin-left: 35px;
  }
  .hero__text-box {
    margin: 50px auto;
    width: 350px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .hero__text-box {
    margin: 50px auto;
    padding-left: 5px;
  }
}

@media all and (max-width: 350px) {
  .hero__picture {
    height: 18%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .hero__title {
    font-size: 35px;
  }
  .hero__text-box {
    margin: 50px auto;
    width: 250px;
    height: 150px;
  }
  .hero__text {
    font-size: 10px;
  }
  .hero__btn {
    display: inline;
    height: 23px;
    width: auto;
  }
}

@-webkit-keyframes flashBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flashBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 38ch;
  }
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 38ch;
  }
}

@-webkit-keyframes sliding {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes sliding {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes drop-X {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes drop-X {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes drop-Y {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop-Y {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section {
  height: 95vh;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */
